body {background-color: lightgreen; }
h1 {color: #1B365D; }
h2 {color: #1B365D; }
body{ text-align: center; 
    text-alegn: center; }



nav{ background-color: #333; }

nav a{ color: white; text-decoration: none; }


nav a:hover{ color: yellow; }

ul{ list-style-position: inside; text-align: center; }

footer{
    background-color: #4682b4;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
