body {background-color: lightgreen; }
h1 {color: #1B365D; }
h2 {color: #1B365D; }
body{ text-align: center; }



nav{ background-color: #333; margin: 15px;　}

nav a{ color: white; text-decoration: none; }


nav a:hover{ color: yellow; }

ul{ list-style-position: inside; }

footer{ background-color: #4682b4;
    color: white; }
